.nav {
    width: 99%;
    height: 190px;
    background-color: white;
    /*margin-top: 593px;*/
    z-index: -1;
    position: absolute;
    box-sizing: border-box;
}

.nav ul {
    float: left;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.nav ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.NAVO {
    line-height: 1.15;
    text-size-adjust: 100%;
    --navigation-header-height: 70px;
    --top-header-height: 50px;
    --gallery-photo-max-width: 860px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    --nav-header-left-padding: 200px;
    --desktop-header-padding: 70px;
    --mobile-header-padding: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0px;
    list-style-type: none;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    padding-right: 15px;
    height: unset;
    overflow: unset;
}

.bb {
    --navigation-header-height: 70px;
    --top-header-height: 50px;
    --gallery-photo-max-width: 860px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    --nav-header-left-padding: 200px;
    --desktop-header-padding: 70px;
    --mobile-header-padding: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 10px;
    margin-left: 500px;
    list-style-type: none;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    padding-right: 15px;
    height: unset;
    overflow: unset;
}

.fb {
    line-height: 1.15;
    text-size-adjust: 100%;
    --navigation-header-height: 70px;
    --top-header-height: 50px;
    --gallery-photo-max-width: 860px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    --nav-header-left-padding: 200px;
    --desktop-header-padding: 70px;
    --mobile-header-padding: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    list-style-type: none;
    box-sizing: border-box;
    height: 15px;
    padding: 0px 6px;
    margin: 5px 0px;
}

.ig {
    line-height: 1.15;
    text-size-adjust: 100%;
    --navigation-header-height: 70px;
    --top-header-height: 50px;
    --gallery-photo-max-width: 860px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    --nav-header-left-padding: 200px;
    --desktop-header-padding: 70px;
    --mobile-header-padding: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    list-style-type: none;
    box-sizing: border-box;
    height: 15px;
    padding: 0px 6px;
    margin: 5px 0px;
}

.ln {
    line-height: 1.15;
    text-size-adjust: 100%;
    --navigation-header-height: 70px;
    --top-header-height: 50px;
    --gallery-photo-max-width: 860px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    --nav-header-left-padding: 200px;
    --desktop-header-padding: 70px;
    --mobile-header-padding: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    list-style-type: none;
    box-sizing: border-box;
    height: 15px;
    padding: 0px 6px;
    margin: 5px 0px;
}

.yt {
    line-height: 1.15;
    text-size-adjust: 100%;
    --navigation-header-height: 70px;
    --top-header-height: 50px;
    --gallery-photo-max-width: 860px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    --nav-header-left-padding: 200px;
    --desktop-header-padding: 70px;
    --mobile-header-padding: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    list-style-type: none;
    box-sizing: border-box;
    height: 15px;
    padding: 0px 6px;
    margin: 5px 0px;
}

.tw {
    line-height: 1.15;
    text-size-adjust: 100%;
    --navigation-header-height: 70px;
    --top-header-height: 50px;
    --gallery-photo-max-width: 860px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    --nav-header-left-padding: 200px;
    --desktop-header-padding: 70px;
    --mobile-header-padding: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    list-style-type: none;
    box-sizing: border-box;
    height: 15px;
    padding: 0px 6px;
    margin: 5px 0px;
}

.body {
    font-family: 'Cairo', sans-serif;
    letter-spacing: 3px;
}

.box {
    width: 99%;
    height: 290px;
    background-color: black;
    margin-top: 593px;
    z-index: -1;
    position: absolute;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 860px;
    margin-top: 15px;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    transform: scale(1.2);
    transition: 0.5s;
    background-color: purple;
}

.logo {
    line-height: 1.15;
    text-size-adjust: 100%;
    --navigation-header-height: 70px;
    --top-header-height: 50px;
    --gallery-photo-max-width: 860px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    --nav-header-left-padding: 200px;
    --desktop-header-padding: 70px;
    --mobile-header-padding: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0px;
    list-style-type: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    position: relative;
    flex: 0 0 auto;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-right: 5px;
}

.marsol {
    line-height: 1.15;
    text-size-adjust: 100%;
    --navigation-header-height: 70px;
    --top-header-height: 50px;
    --gallery-photo-max-width: 60px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    --nav-header-left-padding: 200px;
    --desktop-header-padding: 70px;
    --mobile-header-padding: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    list-style-type: none;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 0px;
}